# Accessor for the perm_test_result slot

This function retrieves the perm_test_result slot from the provided
DGrowthR object.

## Usage

``` r
perm_test_result(object)

# S4 method for class 'DGrowthR'
perm_test_result(object)
```

## Arguments

- object:

  An object from which to extract the perm_test_result slot.

## Value

The perm_test_result slot of the object.
